APP_NAME=Bookchoco Download
APP_ENV=production
PUBLIC_BASE_URL=https://api-download.bookchoco.online
FRONTEND_ORIGIN=https://download.bookchoco.online
MAX_VIDEO_MB=350
JOB_TTL_MINUTES=45
RATE_LIMIT_REQUESTS=8
RATE_LIMIT_WINDOW_SECONDS=60
MAX_CONCURRENT_DOWNLOADS=1
DOWNLOAD_MAX_HEIGHT=1080
EXTRA_ALLOWED_HOSTS=
